/*CSS for map setting*/
#google-map {
    height:620px;
    width:1350px;
}
/*CSS for search div*/
#search {
    float: left;
    width: 850px;
}
/*Class having search, latitude and longitude fields*/
.header {
    border: 2px solid #000;
    font-weight: bold;
}